@using CSCRM.Models.ResponseTypes
@using CSCRM.ViewModels.ClientOrdersVM
@model BaseResponse

@{
    EditTourOrderPageMainVm order = Model.data;

}

<h2 class="EditTourServicePageHead">Edit Tour Order</h2>

<div class="EditTourServiceContainer">
    <h3>Edit Tour Order</h3>
    <span style="color: @(Model.Success ? "green" : "red"); font-weight:600">@Model.Message</span>
    <div class="EditTourService">
        <select id="edit-tourService-tourName" class="EditTourServiceInput">
            <option value="@order.TourOrder.TourId" selected>@order.Tours.FirstOrDefault(testc => testc.Id == order.TourOrder.TourId).Name</option>
            @foreach (var tour in order.Tours)
            {
                <option value="@tour.Id">@tour.Name</option>
            }
        </select>
        <select id="edit-tourService-carTypeName" class="EditTourServiceInput">
            <option value="@order.TourOrder.CarType" disabled selected>@order.TourOrder.CarType</option>
            @foreach (var car in order.Cars)
            {
                <option value="@car.Name">@car.Name</option>
            }
        </select>
        <select id="edit-tourService-guide" class="EditTourServiceInput">
            @if (order.TourOrder.Guide == true)
            {
                <option value="True" selected>Yes</option>
            }
            else
            {
                <option value="False" selected>No</option>
            }

            <option value="True">Yes</option>
            <option value="False">No</option>
        </select>
        <input value="@order.TourOrder.Date" type="date" id="edit-tourService-tourDate" class="EditTourServiceInput" />
        <button onclick="updateTourService(@order.TourOrder.Id)" class="EditTourServiceBtn EditTourServiceBtnPrimary">Update Service</button>
    </div>
</div>