@using CSCRM.Models.ResponseTypes
@using CSCRM.ViewModels.TourCarVMs
@model BaseResponse

<div class="tourbycar-page-content">
    <h2 class="trsByCrTypsPageHead">Tours By Car Types</h2>
    <span style="color: @(Model.Success ? "green" : "red"); font-weight:600">@Model.Message</span>
    <div class="tour-car-types-table-container">
        <table class="tour-car-types-table">
            <thead class="tour-car-types-thead">
                @if (Model.Data.CarIdNameVM.Count() > 0)
                {
                    <tr>
                        <th></th>
                        @foreach (GetCarIdNameVM car in Model.Data.CarIdNameVM)
                        {
                            <th>@car.Name</th>
                        }
                        <th>Actions</th>
                    </tr>
                }
                

            </thead>
            <tbody>
                
                @foreach (GetTourCarVM tourCarVM in Model.Data.TourCarVM)
                {
                    <tr>
                <td>@tourCarVM.TourName</td>
                    @foreach (GetCarIdNameVM car in Model.Data.CarIdNameVM)
                    {
                    <td>@(tourCarVM.CarPrices.ContainsKey(car.Name) ? @tourCarVM.CarPrices[car.Name] : ("N/A"))</td>
                    }
                        <td>
                            <a href="editTourByCarPage.html" class="edit-tourbycar-btn">Edit</a>
                            <button class="delete-tourbycar-btn">Delete</button>
                        </td>
                    </tr>
                }
            
                 
                
                
                <!-- Diğer turlar buraya eklenebilir -->
            </tbody>
        </table>
    </div>

    <div class="add-tour-container">
        <h3>Add New Tour By Car Type</h3>
        <div class="add-tour-form">
            <select id="tourSelect" class="tour-input" required>
                <option value="">Select Tour</option>
                @foreach (GetTourIdNameVM tourIdName in Model.Data.TourIdNameVM)
                {
                    <option value="@tourIdName.Id">@tourIdName.Name</option>
                }
               
                <!-- Tur isimleri buraya dinamik olarak yüklenecek -->
            </select>
            @foreach (GetCarIdNameVM carIdNameVm in Model.Data.CarIdNameVM)
            {
                <input type="number" id="@carIdNameVm.Id" name="@carIdNameVm.Name" placeholder="@carIdNameVm.Name Price" class="tour-input" required />
                       }            
            <button id="addTourBtn" class="add-tour-btn">Add New Tour</button>
        </div>
    </div>
</div>