@using CSCRM.Models.ResponseTypes
@using CSCRM.ViewModels.ReservationVMs
@model BaseResponse
@{
    var hotelOrders = Model.data;
}


<!DOCTYPE html>


    <div class="reservations-page-content">
        <h2 class="ReservationsPageHead">Reservations</h2>
    <span style="color: @(Model.Success ? "green" : "red"); font-weight:600">@Model.Message</span>
        <div class="reservations-page-container">
            <table class="reservations-page-table">
                <thead class="reservations-page-thead">
                    <tr>
                        <th scope="col">Hotel</th>
                        <th scope="col">Client</th>
                        <th scope="col">Room Type</th>
                    <th scope="col">Room Count</th>
                        <th scope="col">Days</th>
                        <th scope="col">Date From</th>
                        <th scope="col">Date To</th>

                        <th scope="col">Confirmation Numbers</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (GetReservationVM hotelOrder in hotelOrders)
                {
                    <tr>

                        <td>@hotelOrder.HotelName</td>
                        <td>@hotelOrder.ClientNameSurname</td>
                        <td>@hotelOrder.RoomType</td>
                        <td>@hotelOrder.RoomCount</td>
                        <td>@hotelOrder.Days</td>
                        <td>@hotelOrder.DateFrom</td>
                        <td>@hotelOrder.DateTo</td>
                        <td>
                            @for(int i = 0; i<hotelOrder.RoomCount; i++)
                            {
                                if (i < hotelOrder.ConfirmationNumbers.Count)
                                {
                                    <span style="border:1.5px solid green; border-radius:5px;  margin:0.5px; padding:5px;">@hotelOrder.ConfirmationNumbers[i]</span>

                                    
                                }
                                else
                                {
                                    <span style="border:1.5px solid red; border-radius:5px; margin:0.5px; padding:5px;">Waiting</span>

                                   
                                }

                            }
                            
                        
                        </td>
                        <td>
                            <a class="reservations-page-btn reservations-page-btn-primary" asp-action="editreservation" asp-controller="reservation" asp-area="reservation" asp-route-reservationId="@hotelOrder.HotelOrderId">Edit</a>
                        </td>
                    </tr>
                }
                    
                    <!-- Additional rows can be added here -->
                </tbody>
            </table>
        <div class="pagination">
            @if (Model.PageIndex > 1)
            {
                <a asp-action="index" asp-controller="reservation" asp-area="reservation" asp-route-pageIndex="@(Model.PageIndex-1)">&laquo;</a>

            }
            @for (var i = 1; i <= Model.PageSize; i++)
            {
                if (i > Model.PageIndex - 2 && i < Model.PageIndex + 2)
                {
                    <a class="@(Model.PageIndex==i ? "activePageIndex" : "")" asp-action="index" asp-controller="reservation" asp-area="reservation" asp-route-pageIndex="@i">@i</a>

                }
            }
            @if (Model.PageIndex < Model.PageSize)
            {
                <a asp-action="index" asp-controller="reservation" asp-area="reservation" asp-route-pageIndex="@(Model.PageIndex + 1)">&raquo;</a>

            }
        </div>
        </div>
    </div>


